#landing-couple-photo {
  height: 100%;
  width: 50%;
  background: transparent image-url('jasonandleah.png') 50% 0 no-repeat scroll;
  background-size: auto 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
#landing-menu {
  li {
    padding: 5px;
    a {
      background-color: transparent;
      border: 1px solid transparent;
      font-family: 'Amatic SC';
      font-size: 1.4em;
      color: #2B3E50;
      font-weight: bold;
      transition: all 0.5s linear;
      &:hover {
        border: 1px solid rgba(223, 105, 26, 0.75);
        color: rgba(223, 105, 26, 0.75);
      }
    }
  }
}